<head>
<meta charset="UTF-8" />
</head>
	<h2>Plataforma WeByPeople</h2>
	<p>De acordo com o Terceiro Plano Nacional de Enfrentamento ao Tráfico de Pessoas que foi publicado dia 04/07/2018 dos 6 eixos temáticos apresentados, dois abordamos no desenvolvimento da Plataforma WeByPeople: gestão da informação, prevenção e conscientização pública </p>
	<p class="mt-2"> O sistema tem o propósito de centralizar todas os dados e informações de instituições que combatem o tráfico de pessoas, em um só lugar</p>
