<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Twig News</title>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

	<script th:src="@{/js/jquery.js}"></script>

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script th:src="@{/js/sys.js}"></script>
</head>

<body>
	<section layout:fragment="conteudo">aaaa</section>

</body>

</html>