<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{DefaultLayout}">
<head>
</head>
<body>
	<section layout:fragment="conteudo">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Motivações ADM</h1>
			</div>
		</div>
		<!-- /.row Page Heading -->
		<div class="alert alert-success" th:if="${!#strings.isEmpty(msg)}">
			<span th:text="${msg}"></span>

		</div>
		<div class="alert alert-danger" th:if="${!#strings.isEmpty(msgErro)}">
			<span th:text="${msgErro}"></span>

		</div>


		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#nav_content"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="nav_content">

					<ul class="nav navbar-nav navbar-right">
						<li ><a
							>
								<i class="fa fa-fw fa-plus"></i> Nova Motivação
						</a></li>

					</ul>
				</div>
			</div>
		</nav>
	</section>
</body>
</html>